* {
  font-family: Poppins, sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

body > div.d-grid,
.card {
  background: #000080;
  border: none;
}

.card figure {
  height: 100%;
  background: #fff;
}

.card-body {
  justify-content: space-between;
}

.card-content {
  width: 37%;
  height: 448px;
}

.card .card-text {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.card:nth-of-type(even) .card-content {
  order: -999;
}

.card li {
  padding: 0.5em 0.8em;
  border-right: 1px solid #777;
}

.card li:last-child {
  border: none;
}

.card ul {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}
